@page
@model ConfirmationModel
<h2>Cadastro Concluído</h2>
<p>Olá {{nome}},

  O seu cadastro está em análise e em breve você receberá um e-mail com novas atualizações sobre seu cadastro.

  Atenciosamente,

  Equipe PATHBIT</p>
