@page
@model Step3Model
<h2>Cadastro - Etapa 3: Dados de Endereço</h2>
<form method="post" asp-page="/Step4">
  <div>
    <label>Rua</label>
    <input type="text" asp-for="Customer.AddressData.Street" required />
    <span asp-validation-for="Customer.AddressData.Street"></span>
  </div>
  <div>
    <label>Número</label>
    <input type="text" asp-for="Customer.AddressData.Number" required />
    <span asp-validation-for="Customer.AddressData.Number"></span>
  </div>
  <div>
    <label>Bairro</label>
    <input type="text" asp-for="Customer.AddressData.Neighborhood" required />
    <span asp-validation-for="Customer.AddressData.Neighborhood"></span>
  </div>
  <div>
    <label>Cidade</label>
    <input type="text" asp-for="Customer.AddressData.City" required />
    <span asp-validation-for="Customer.AddressData.City"></span>
  </div>
  <div>
    <label>Estado</label>
    <input type="text" asp-for="Customer.AddressData.State" required />
    <span asp-validation-for="Customer.AddressData.State"></span>
  </div>
  <div>
    <label>CEP</label>
    <input type="text" asp-for="Customer.AddressData.CEP" required />
    <span asp-validation-for="Customer.AddressData.CEP"></span>
  </div>

  <button type="submit">Próximo</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
